<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Animation duration</title>
	<link 
		rel="stylesheet" 
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
		crossorigin="anonymous">
		<style type="text/css">
			.fade-enter-active {
				animation: fade 0.8s;
			}
			.fade-leave-active {
				animation: fade 0.8s reverse;
			}
			@keyframes fade {
				from {
					background-color: #fff 
				}
				to {
					background-color: #999
				}
			}
		</style>
</head>
<body>
	<div id="app">
		<input 
			type="text" 
			v-model="name" 
			placeholder="Nome">
		<transition name="fade" :duration="{ enter: 2000, leave: 3000}">
			<h2 
				v-if="name.length > 10" 
				class="m-2"
				:key="'success'">
				Tudo certo
			</h2>
			<h2 
				v-else 
				class="m-2"
				:key="'error'">
				Ops! Algo errado
			</h2>
		</transition>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>
	<script type="text/javascript">
		let app = new Vue({
			el: "#app",
			data: {
				name: ""
			}
		})
	</script>
</body>
</html>