<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Global Component</title>
	<link 
		rel="stylesheet" 
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
		crossorigin="anonymous">
</head>
<body>
	<div id="app" class="container py-4">
		<text-render text="Hello, World!"></text-render>
		<text-render text="I'm a component"></text-render>
		<hr>
		<list-component></list-component>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>
	<script type="text/javascript">
		Vue.component('text-render', {
			props: [
				'text'
			],
			template: `
				<div>
					<h4>{{ text }}</h4>
				</div>
			`
		})

		Vue.component('list-component', {
			template: `
				<ul>
					<li v-for="name in names">{{ name }}</li>
				</ul>
			`,
			data() {
				return {
					names: [
						'Ruan', 
						'John', 
						'Kauê'
					]
				}
			}
		})

		let app = new Vue({
			el: "#app"
		})
	</script>
</body>
</html>